{erl_opts,            [ debug_info
                      , warnings_as_errors
                      , {platform_define, "^[0-9]+", namespaced_types}
                      , {platform_define, "^18", deprecated_now}
                      , warn_export_vars
                      , warn_unused_import
                      , warn_keywords
                      ]}.

{dialyzer, [
    {plt_apps, all_deps},
    incremental,
    {warnings, [unmatched_returns]}
]}.

{profiles, [
  {test, [
    {cover_enabled, true},
    {cover_opts, [verbose]},
    {ct_opts, [{sys_config, "config/sys.test.config"}]},
    {eunit_opts, [{sys_config, ["config/sys.test.config"]}]}
  ]}
]}.

{deps,
 [ { stdlib2, {git, "https://github.com/kivra/stdlib2.git", {tag, "v1.4.6"}} }
 , { riakc, {git, "https://github.com/kivra/riak-erlang-client.git", {tag, "2.5.7"}} }

 %% Metrics
 , { telemetry, "1.3.0" }
 , { prometheus, "4.12.0" }
 ]}.

{overrides,
 [ {override, riakc,
    [ {erl_opts, [ debug_info
                 , warnings_as_errors
                 , {platform_define, "^[0-9]+", namespaced_types}
                 , {platform_define, "(?=^[0-9]+)(?!^17)", deprecated_now}
                 , {platform_define, "^(19|[2-9])", deprecated_19}
                 ]}
    ]},
   {override, hamcrest, [ {plugins, []} ]}
 ]}.

{shell, [
    {apps, [krc]},
    {config, "config/sys.test.config"}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
