{lib_dirs,            ["deps"]}.
{deps_dir,            ["deps"]}.
{erl_opts,            [ debug_info
                      , nowarn_shadow_vars
                      , warnings_as_errors
                      , {platform_define, "^[0-9]+", namespaced_types}
                      , {platform_define, "^18", deprecated_now}
                      ]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps,
 [ { stdlib2
   , ""
   , {git, "git@github.com:kivra/stdlib2.git", {branch, "master"}}
   }
 , { riakc
   , ""
   , {git, "git@github.com:kivra/riak-erlang-client.git", {tag, "2.5.0"}}
   }
 ]}.

{overrides,
 [ {override, rebar3_protobuffs_plugin,
    [ {deps,
       [{protobuffs, {git, "git@github.com:kivra/erlang_protobuffs.git", {tag, "0.9.0"}}}]}]}
 , {override, riak_pb,
    [ {plugins,
       [ {riak_pb_msgcodegen, {git, "git@github.com:kivra/riak_pb_msgcodegen.git", {ref, "dc51e30"}}}
       , {rebar3_protobuffs_plugin, {git, "git@github.com:kivra/rebar3_protobuffs_plugin.git", {tag, "0.1.1"}}}
       ]}
    , {provider_hooks,
       [{pre, [ {compile, {protobuffs, compile}}
              , {compile, riak_pb_msgcodegen}
              ]}]}
    ]}
 ]}.
