{lib_dirs,            ["deps"]}.
{deps_dir,            ["deps"]}.
{erl_opts,            [ debug_info
                      , nowarn_shadow_vars
                      , warnings_as_errors
                      , {platform_define, "^[0-9]+", namespaced_types}
                      , {platform_define, "^18", deprecated_now}
                      ]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps,
 [ { stdlib2
   , ""
   , {git, "git@github.com:kivra/stdlib2.git", {branch, "master"}}
   }
 , { riakc
   , ""
   , {git, "git@github.com:kivra/riak-erlang-client.git", {tag, "2.5.3"}}
   },
   {telemetry, "~> 1.2"}
 ]}.

{overrides,
 [ {override, riakc,
    [ {erl_opts, [ debug_info
                 , warnings_as_errors
                 , {platform_define, "^[0-9]+", namespaced_types}
                 , {platform_define, "(?=^[0-9]+)(?!^17)", deprecated_now}
                 , {platform_define, "^(19|[2-9])", deprecated_19}
                 ]}
    ]}
 ]}.
